<?xml version="1.0" encoding="utf-8"?>
<!--
  Example of how a package file should be written is below
  <packages>
    <package id="apackage" />
    <package id="anotherPackage" version="1.1" />
    <package id="chocolateytestpackage" version="0.1" source="somelocation" />
    <package id="alloptions" version="0.1.1"
             source="https://somewhere/api/v2/" installArguments=""
             packageParameters="" forceX86="false" allowMultipleVersions="false"
             ignoreDependencies="false"
             />
  </packages>
-->
<packages>
  <!-- BASIC AND ESSENTIALS -->
  <!-- Common -->
  <package id="vim" />
  <package id="firefox" />
  <package id="googlechrome" />
  <package id="microsoft-teams" />
  <package id="slack" />
  <package id="curl" />
  <package id="rsync" />
  <package id="7zip" />
  <package id="adobereader" />
  <package id="skype" />
  <package id="powerbi" />
  <package id="filezilla" />

  <!-- Systems tools -->
  <package id="powershell-core" />
  <package id="sysinternals" />
  <package id="pwgen" />
  <package id="dos2unix" />
  <package id="unxutils" />
  <package id="busybox" />
  <package id="psutils" />

</packages>
