<?xml version="1.0" encoding="utf-8"?>
<!--
  Example of how a package file should be written is below
  <packages>
    <package id="apackage" />
    <package id="anotherPackage" version="1.1" />
    <package id="chocolateytestpackage" version="0.1" source="somelocation" />
    <package id="alloptions" version="0.1.1"
             source="https://somewhere/api/v2/" installArguments=""
             packageParameters="" forceX86="false" allowMultipleVersions="false"
             ignoreDependencies="false"
             />
  </packages>
-->

<packages>
  <!-- 
  Virtualization & Containerization packages

  Note that these should not be installed on all systems without careful consideration
  of consequences! Docker, for example, takes lots of resources, and should not be 
  running on a front-end instance!
  -->

  <package id="virtualbox" />
  <package id="docker-desktop" /><!-- will install dependencies, such as docker -->
  <package id="vagrant" />		 <!-- for Virtualbox scripting -->

</packages>
