<?xml version="1.0" encoding="utf-8"?>
<!--
  Example of how a package file should be written is below
  <packages>
    <package id="apackage" />
    <package id="anotherPackage" version="1.1" />
    <package id="chocolateytestpackage" version="0.1" source="somelocation" />
    <package id="alloptions" version="0.1.1"
             source="https://somewhere/api/v2/" installArguments=""
             packageParameters="" forceX86="false" allowMultipleVersions="false"
             ignoreDependencies="false"
             />
  </packages>
-->

<!-- 
	This file contains Systems Administration and management tools

	Many of the tools defined were recommended at 
		https://blog.netwrix.com/2018/07/24/top-10-free-system-administrators-tools/
-->
<packages>
  <!-- Systems Administration related packages -->
  <package id="teamviewer" /> <!-- for remote access to the desktop -->
  <package id="zerotier-one" /> <!-- for remote access to the desktop -->

  <package id="microsoft-message-analyzer" />
  <package id="clonezilla" />

  <!-- A suite of useful background tools comes from both powertoys & Sysinternals -->
  <package id="powertoys" />  
  <package id="sysinternals" />
  <package id="powershell-core" />
  <package id="pwgen" />
  <package id="dos2unix" />
  <package id="unxutils" />
  <package id="busybox" />
  <package id="psutils" />

  <!-- cloud tools --> 
  <package id="azure-data-studio" />
  <package id="awssdk-tools" />
  <package id="awscli" />
  
  <!-- Networking tools --> 
  <package id="wireshark" />

</packages>
