<?xml version="1.0" encoding="utf-8"?>
<!--
  Example of how a package file should be written is below
  <packages>
    <package id="apackage" />
    <package id="anotherPackage" version="1.1" />
    <package id="chocolateytestpackage" version="0.1" source="somelocation" />
    <package id="alloptions" version="0.1.1"
             source="https://somewhere/api/v2/" installArguments=""
             packageParameters="" forceX86="false" allowMultipleVersions="false"
             ignoreDependencies="false"
             />
  </packages>
-->
<packages>
  <!-- BASIC AND ESSENTIALS -->
  <!-- Common -->
  <package id="vim" />
  <package id="firefox" />
  <package id="googlechrome" />
  <package id="microsoft-teams" />
  <package id="slack" />
  <package id="curl" />
  <package id="rsync" />
  <package id="7zip" />
  <package id="adobereader" />
  <package id="skype" />
  <package id="powerbi" />
  <package id="filezilla" />

  <!-- Systems tools -->
  <package id="powershell-core" />
  <package id="sysinternals" />
  <package id="sysinternals" />
  <package id="pwgen" />
  <package id="dos2unix" />
  <package id="unxutils" />
  <package id="busybox" />
  <package id="psutils" />

  <!-- DESIGN & Media-->
  <package id="vlc" />
  <package id="gimp" />
  <package id="irfanview" />

  <!-- GEEK --> 
  <!-- Languages & VirtualEnvs -->
  <package id="unity" />
  <package id="kotlinc" />
  <package id="flutter" />
  <package id="nodejs" />
  <package id="yarn" />
  <package id="python3" />

  <!-- Development tools and environments -->
  <package id="git" />
  <package id="visualstudio2019community" />
  <package id="visualstudio2017community" />
  <package id="AndroidStudio" />
  <package id="android-sdk" />
  <package id="visualstudiocode" />
  <package id="vscode-powershell" />
  <package id="vscode-csharp" />
  <package id="vscode-python" />
  <package id="vscode-gitlens" />
  <package id="processing" />

  <!-- Web tools -->
  <package id="postman" />
  <package id="fiddler" />

  <!-- cloud tools -->
  <package id="azure-data-studio" />
  <package id="awssdk-tools" />
  <package id="awscli" />
  
  <!-- Hacking tools -->
  <package id="wireshark" />

  <!-- virtualization -->
  <package id="virtualbox" />
  <package id="docker" />
  <package id="vagrant" />

</packages>
