<?xml version="1.0" encoding="utf-8"?>
<!--
  Example of how a package file should be written is below
  <packages>
    <package id="apackage" />
    <package id="anotherPackage" version="1.1" />
    <package id="chocolateytestpackage" version="0.1" source="somelocation" />
    <package id="alloptions" version="0.1.1"
             source="https://somewhere/api/v2/" installArguments=""
             packageParameters="" forceX86="false" allowMultipleVersions="false"
             ignoreDependencies="false"
             />
  </packages>
-->

<!-- 
	This file contains Tools and programs for managing MSSQL Server

    Also install mssql-cli from `pip install mssql-cli`
-->
<packages>
  <!-- MSSQL management tools -->
  <package id="vscode" />                       <!-- For editing anything -->
  <package id="vscode-mssql" />                 <!-- MSSQL addons for VSCode  -->
  <package id="sql-server-management-studio" /> <!-- MSSQL management interface -->
</packages>
