<?xml version="1.0" encoding="utf-8"?>
<!--
  Example of how a package file should be written is below
  <packages>
    <package id="apackage" />
    <package id="anotherPackage" version="1.1" />
    <package id="chocolateytestpackage" version="0.1" source="somelocation" />
    <package id="alloptions" version="0.1.1"
             source="https://somewhere/api/v2/" installArguments=""
             packageParameters="" forceX86="false" allowMultipleVersions="false"
             ignoreDependencies="false"
             />
  </packages>
-->
<packages>
  <!-- GEEK --> 
  <!-- Languages & VirtualEnvs -->
  <package id="unity" />
  <package id="kotlinc" />
  <package id="flutter" />
  <package id="nodejs" />
  <package id="yarn" />
  <package id="python3" />
  <package id="golang" />

  <!-- Development tools and environments -->
  <package id="git" />
  <package id="visualstudio2019community" />
  <package id="visualstudio2017community" />
  <package id="AndroidStudio" />
  <package id="android-sdk" />
  <package id="visualstudiocode" />
  <package id="vscode-powershell" />
  <package id="vscode-csharp" />
  <package id="vscode-python" />
  <package id="vscode-gitlens" />
  <package id="nuget.commandline" /> <!-- For building .net apps on the command-line -->
  
  <!-- 
  Uncomment this section for some of the more obscure tools

  <package id="processing" />
  <package id="touchdesigner" />
  <package id="octave" />
  -->

  <!-- Web tools -->
  <package id="postman" />
  <package id="fiddler" />

</packages>
