<?xml version="1.0" encoding="utf-8"?>
<!--
  Example of how a package file should be written is below
  <packages>
    <package id="apackage" />
    <package id="anotherPackage" version="1.1" />
    <package id="chocolateytestpackage" version="0.1" source="somelocation" />
    <package id="alloptions" version="0.1.1"
             source="https://somewhere/api/v2/" installArguments=""
             packageParameters="" forceX86="false" allowMultipleVersions="false"
             ignoreDependencies="false"
             />
  </packages>


  This file is for Windows AWS Servers 
-->
<packages>
  <!-- BASIC AND ESSENTIALS -->
  <package id="git" />
  <package id="vim" />
  <package id="firefox" />
  <package id="googlechrome" />
  <package id="curl" />
  <package id="rsync" />
  <package id="7zip" />
  <package id="adobereader" />
  <package id="filezilla" />
  <package id="winrar" />
  <package id="wget" />
  <package id="openssh" />
  <package id="telnet" />
  <package id="netcat" />

  <!-- Sysadmin tools -->
  <package id="powertoys" />
  <package id="sysinternals" />
  <package id="powershell-core" />
  <package id="pwgen" />
  <package id="dos2unix" />
  <package id="unxutils" />
  <package id="busybox" />
  <package id="psutils" />

  <!-- cloud tools -->
  <package id="awscli" />

  <!-- Programming tools -->
  <!-- We need 3.9.7 due to a compatibility issue with mssql-cli
  <package id="python" version="3.9.7" />

</packages>
